*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}
body{
	background-color:#CE4257;
	min-height:100vh;
	width:100%;
	
}
.logo-container{
	height:200px;
	display:flex;
	align-items: center;
	justify-content: center;
}
.zh-chinese{
	font-family: 'Noto Sans SC', sans-serif;
}
.search-band{
	margin-top:50px;
	background-color:#FF7F51;
	height:300px;
	width:100%;
	display:flex;
	align-items:center;
	justify-content: center;
	box-shadow:  13px 13px 26px #9d3242,
             -13px -13px 26px #ff526c;
}
.search-box{
	border:thick;
	border-radius:1px;
	border-color:#444444;
	min-height:50%;
	width:300px;
	min-width:30%;
	text-align:center;
	font-size:3rem;
	color:#111;
	/*box-shadow:  13px 13px 26px #c2613e,
             -13px -13px 26px #ff9d64;
    */
}

::placeholder{
	font-size:.6rem;
}


.result-container{
	margin-top:100px;
	display:flex;
	justify-content: center;
	flex-wrap:wrap;
}
.result{
	background-color:white;
	min-height:300px;
	width:300px;
	box-shadow:  13px 13px 26px #9d3242,
             -13px -13px 26px #ff526c;
    margin:0 20px;
    margin-bottom: 40px;
    text-align:center;
    display:flex;
    flex-wrap:wrap;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    overflow-wrap:anywhere;
    text-overflow:scroll;

}
.result-character{
	margin: 0 auto;
	margin-top:10px;
	font-size:2.5rem;
}
.result-freq{
	margin-top:10px;
	font-size:2.5rem;
}
.result-pinyin{
	margin-top: 10px;
	padding:0 20px;
	font-size:1rem;
}
.result-def{
	margin:0 20px;
	margin-top:10px;
	font-size:.7rem;
}